@import "reset.css";
@import "jquery-ui-1.8.4.custom.css";

html {
	overflow-y: scroll;
}
body {
  background: #000 url(images/hr.png) repeat-x;
  font-family: "Helvetica Neue", Helvetica;
  color: #fff;

}
a {
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}
h1 {
  text-transform: uppercase;
  font-size: 1.6em;
}
.clickable {
  cursor: pointer;
}
div.index {
  min-height: 300px;
}
#wrap {
  margin: 0 auto;
  width: 960px;
  background: url(images/bg1.jpg) no-repeat 0 94px;
  min-height: 400px;
}
#header {
  position: relative;
}
div.content {
  margin: 40px 0 15px 0;
}
div.content h2 {
  font-size: 36px;
}
h2.title {
  margin: 10px;
}
.col1 {
  float: left;
  margin-left: 10px;
}
.col2 {
  width: 410px;
  padding-left: 15px;
  float: left;
}
.product h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.product-image-list ul li {
  float: right;
  margin-top: 5px;
}
ul.options li {
  display: block;
  float: left;
  padding: 5px 0;
  margin: 0 1px;
  border: 1px solid #fff;
}
.selected {
  background: #666;
}


/* ===================== */
/* = Main Menu Styling = */
/* ===================== */

#menu-main-menu {
  text-transform: uppercase;
  float: left;
  margin: 0; padding: 0;
}

#menu-main-menu li a, #menu-main-menu li {
 float: left;
}
#menu-main-menu li {
  padding: 5px;
  margin: 5px 70px 0 5px;
  margin-left
  font-size: 18px;
  list-style: none;
  position: relative;
  float: left;
}

#menu-main-menu li a {
  text-decoration: none;
  color: white;
}
#menu-main-menu li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 5px; margin: 0;
}
#menu-main-menu li ul li {
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue Bold Condensed', "Helvetica Neue";
  font-weight: bold;
  font-stretch: condensed;
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 34px;
  letter-spacing: 10px;
}

#menu-main-menu li ul li a:hover {
  color: #666;
}

/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#menu-main-menu li:hover > ul {
 display: block;
}

#menu-main-menu li ul li, #menu-main-menu li ul li a {
 float: none;
}
#menu-main-menu li ul {
  background: rgba(0, 0, 0, 0.6);
}
#menu-main-menu li ul li {
 _display: inline; /* for IE6 */
}

#menu-main-menu li ul li a {
 width: 940px;
 display: block;
}

/* SUBSUB Menu */

#menu-main-menu li ul li ul {
 display: none;
} 
#menu-main-menu li ul li:hover ul {
 left: 100%;
 top: 0;
}

/* =================== */
/* = Categories List = */
/* =================== */



/* ================= */
/* = Products List = */
/* ================= */
div.product-item {
  width: 140px;
  float: left;
  height: 200px;
  margin: 10px;
}
.product-item p {
  margin: 5px 0;
}

h2.price {
  font-size: 24px;
  margin: 10px 0;
}
h3#add_to_cart {
  font-size: 24px;
  margin: 10px 0;
  cursor: pointer;
}
h3#add_to_cart:hover {
  color: #999;
}
.variation {
  cursor: pointer;
}
li.variation:hover {
  background: #666;
}
div.addthis_toolbox {
  margin-top: 10px;
}
div.addthis_toolbox a {
  filter:alpha(opacity=40);
  -moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}
div.addthis_toolbox a:hover {
  filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}


/* ================= */
/* = Checkout Page = */
/* ================= */
#expressCheckout {
  width: 960px;
  margin: 0 auto;
}

/* ========== */
/* = Header = */
/* ========== */

#checkoutHeader {
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
}
#checkoutHeader p {
  margin-bottom: 20px;
  font-size: 20px;
}

/* =========== */
/* = Columns = */
/* =========== */
#checkout-col1, #checkout-col2, #checkout-col3 {
  float: left;
}
#checkout-col1 {
  padding-right: 20px;
  padding-top: 20px;
  width: 300px;
}
#checkout-col2 {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  width: 295px;
  padding: 20px;
  
}
#checkout-col3 {
  padding-left: 20px;
  padding-top: 20px;
  width: 280px;
}
.step-1 {
  background: url(http://com.monkeywrench.s3.amazonaws.com/step-1.jpg) no-repeat left center;
}
.step-2 {
  background: url(http://com.monkeywrench.s3.amazonaws.com/step-2.jpg) no-repeat left center;
}
.step-3 {
  background: url(http://com.monkeywrench.s3.amazonaws.com/step-3.jpg) no-repeat left center;
  margin-top: 40px;
}
h1.step {
  text-transform: uppercase;
  vertical-align: middle;
  padding: 10px 0 10px 50px;
  margin-bottom: 20px;
}
h1.review {
  text-transform: uppercase;
  vertical-align: middle;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
td {
  padding: 5px 20px 5px 0;
}
table h3 {
  font-size: 1.4em;
}
input[type="text"], select {
  width: 100%;
  margin: 5px 0;
  border: none;
  padding: 5px;
}
h1 #shipping_address {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
#shipping_table input {
  padding-left: 20px;
}
.expire select {
  width: 50%;
}
select[name="expiration"] {
  width: 60%;
}
select[name="year"] {
  width: 30%;
}
table.order_review {
  width: 100%;
  margin-bottom: 20px;
}
.order_review td, .order_review th {
  padding: 10px 0;
}
.order_review th, .subtotal {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.grandtotal {
  border-bottom: 1px solid #fff;
}
.order_review td {
  text-align: right;
}
input[type="submit"] {
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  
  background: #45484d; /* old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* webkit */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* ie */}
input[type="submit"]:hover {
  cursor: pointer;
}
input[name="place_order"] {
  font-size: 1.6em;
  margin-top: 40px;
  float: right;
  -moz-border-radius: 10px; /* FF1+ */
  -webkit-border-radius: 10px; /* Saf3+, Chrome */
  -khtml-border-radius: 10px; /* Konqueror */
  border-radius: 10px; /* Standard. IE9 */
}